@model Capa_Logica_Negocio.Models.PacienteModel

@{
    ViewData["Title"] = "CreatePaciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreatePaciente</h1>

<h4>PacienteModel</h4>
<hr />

<div class="containerCustom">
    <div class="grid-c-x2">
        @* Menu Lateral*@
        <aside class="sideBar">
            <ul class="sideBarUL">
                <li>
                    <button type="button" class="btnSideBar">
                        Clientes

                    </button>
                </li>

                <li>
                    <button class="btnSideBar">
                        Cuentas

                    </button>
                </li>

                <li>
                    <button class="btnSideBar">
                        Historial de Cuentas
                    </button>
                </li>
            </ul>
        </aside>

        <div class="containerCustom">
            <br />
            <div class="row">
                <div class="col-sm-2">
                    <a class="btn btn-success d-block" asp-action="CreatePaciente" asp-controller="PacienteMainView">Agregar Nuevo Cliente</a>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-4">
                    <form asp-controller="PacienteMainView" asp-action="CreatePaciente" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nombres_Paciente" class="control-label"></label>
                            <input asp-for="Nombres_Paciente" class="form-control" />
                            <span asp-validation-for="Nombres_Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellidos_Paciente" class="control-label"></label>
                            <input asp-for="Apellidos_Paciente" class="form-control" />
                            <span asp-validation-for="Apellidos_Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Edad_Paciente" class="control-label"></label>
                            <input asp-for="Edad_Paciente" class="form-control" />
                            <span asp-validation-for="Edad_Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefono_Paciente" class="control-label"></label>
                            <input asp-for="Telefono_Paciente" class="form-control" />
                            <span asp-validation-for="Telefono_Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Direccion_Paciente" class="control-label"></label>
                            <input asp-for="Direccion_Paciente" class="form-control" />
                            <span asp-validation-for="Direccion_Paciente" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>


        </div>



    </div>


    <div>
        <a asp-controller="PacienteMainView" asp-action="MainIndex">Back to List</a>
    </div>

