.tableContainer {
  margin-top: 20px;
  margin-left: 20px; }
  .tableContainer table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; }
    .tableContainer table thead {
      padding: 4px;
      height: 40px;
      background: #f2f2f2; }
    .tableContainer table tbody {
      padding-top: 10px; }
      .tableContainer table tbody tr {
        border-spacing: 0px 4px;
        border-right: 1px solid transparent;
        border-bottom: 1px solid black;
        height: 40px; }
        .tableContainer table tbody tr:hover {
          border-right-color: #2600ff; }
        .tableContainer table tbody tr td span {
          user-select: none;
          border-radius: 6px;
          padding: 5px; }
          .tableContainer table tbody tr td span:hover {
            background: rgba(134, 247, 255, 0.089); }
        .tableContainer table tbody tr td.options {
          display: flex;
          justify-content: space-evenly; }
          .tableContainer table tbody tr td.options a {
            text-decoration: none; }
            .tableContainer table tbody tr td.options a img {
              width: 20px;
              height: 20px;
              margin-right: 5px; }
            .tableContainer table tbody tr td.options a:hover img {
              width: 22px;
              height: 22px; }
