@model Capa_Logica_Negocio.Models.OftalmologoModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="containerCustom">
    <div class="grid-c-x2">

        <aside class="sideBar">
            <ul class="sideBarUL">
                <li>
                    <button type="button" class="btnSideBar">
                        Nueva Cita

                    </button>
                </li>

                <li>
                    <button class="btnSideBar">
                        Control de Citas

                    </button>
                </li>

                <li>
                    <button class="btnSideBar">
                        Cancelar Cita
                    </button>
                </li>

                <li>
                    <button class="btnSideBar">
                        Reprogramaci&oacute;n

                    </button>
                </li>
            </ul>
        </aside>

        <div class="containerCustom">

            <br />

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nombres_Oftalmologo" class="control-label"></label>
                            <input asp-for="Nombres_Oftalmologo" class="form-control" />
                            <span asp-validation-for="Nombres_Oftalmologo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellidos_Oftalmologo" class="control-label"></label>
                            <input asp-for="Apellidos_Oftalmologo" class="form-control" />
                            <span asp-validation-for="Apellidos_Oftalmologo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Edad_Oftalmologo" class="control-label"></label>
                            <input asp-for="Edad_Oftalmologo" class="form-control" />
                            <span asp-validation-for="Edad_Oftalmologo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefono_Oftalmologo" class="control-label"></label>
                            <input asp-for="Telefono_Oftalmologo" class="form-control" />
                            <span asp-validation-for="Telefono_Oftalmologo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Direccion_Oftalmologo" class="control-label"></label>
                            <input asp-for="Direccion_Oftalmologo" class="form-control" />
                            <span asp-validation-for="Direccion_Oftalmologo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Especialidad_Oftalmologo" class="control-label"></label>
                            <input asp-for="Especialidad_Oftalmologo" class="form-control" />
                            <span asp-validation-for="Especialidad_Oftalmologo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>



</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

